body {
    font-family: 'Bebas Neue', cursive;
    background-color: #21D4FD;

}
#masterdiv {
display: flex;
}

.innerdiv {
flex-grow: 1;
background-image: linear-gradient(180deg, #21D4FD 0%, #B721FF 100%);

}